body{
	width: 968px;
	margin: 0 auto;
}
.nav{
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;

}
nav a{
	text-decoration: none;
	margin-right: 10px;
	margin-left: 142px;
	
	padding: 4px;
	color: blue;
}
.navigatie{
	display: flex;
	justify-content: space-between;

}
.ruimteGeven{
	margin-left: 40px;
}
.logo{
	width: 100px;

}

h1{
	color: blue;
	border-bottom: 2px solid yellow;
}

form{

	background-color: yellow;
	border: 10px solid yellow
	width: 500px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 15px;
}
.form-group{
	text-align: center;	
	color: blue;
}

