body{
	width: 968px;
	margin: 0 auto;
}
.nav{
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;

}
nav a{
	text-decoration: none;
	margin-right: 10px;
	margin-left: 142px;
	border: 2px solid yellow;
	padding: 4px;
	border-radius: 7px;
	color: blue;
}
.navigatie{
	display: flex;
	justify-content: space-between;

}
.ruimteGeven{
	margin-left: 40px;
}
.logo{
	width: 100px;

}

h1{
	color: blue;
	border-bottom: 2px solid yellow;
}